<h3>Search Result Widget!</h3>
<ul>
  {{#each searchResults}}
    <li>
      <div>
        <div>Current Distance: {{currentDistance}}&nbsp;km</div>
        <div>MatchingScore {{matchingScore.value}} - {{matchingScore.defined}}</div>

        {{#with roomOffer}}
          <div>{{roomDetails.totalRentPerMonthInEuro}}€</div>
    
          <div>
            <div>Zimmergröße:&nbsp;{{roomDetails.roomSize.squareMeters}}&nbsp;m²</div>
            <div>Zeitraum:
              {{#unless roomDetails.freeTo}}
                ab {{date roomDetails.freeFrom}}
              {{else}}
                {{date roomDetails.freeFrom}}&nbsp;bis&nbsp;{{date roomDetails.freeTo}}
              {{/unless}}
            </div>
          </div>
    
          <div>
            <div>gewünschtes Alter: {{criteria.minAge}}&nbsp;bis&nbsp;{{criteria.maxAge}}</div>
            <div>gewünschtes Geschlecht: {{criteria.genders}}</div>
          </div>
    
          <div>
            <div>Beschreibung: {{description}}</div>
            <div>Kontakt E-Mail: {{contactEmail}}</div>
            <div>Bewerbungen: {{applications}}</div>
          </div>
        {{/with}}
      </div>
    </li>
  {{/each}}
</ul>