<h3>Search Result Widget!</h3>
<ol class="searchResultContainer">
  {{#each searchResults}}
    <li class="searchResult" data-result-latitude={{roomOffer.flatshare.geoLocation.latitude}} data-result-longitude={{roomOffer.flatshare.geoLocation.longitude}}>
      <div class="searchResultFront">
        <b>{{roomOffer.flatshare.address.street}} {{roomOffer.flatshare.address.streetNumber}}</b>
        <div>Current Distance: {{currentDistance}}&nbsp;km</div>
        <div>MatchingScore {{matchingScore.value}} - {{matchingScore.defined}}</div>

        {{#with roomOffer}}
          <div>{{roomDetails.totalRentPerMonthInEuro}}€</div>
    
          <div>
            <div>Zimmergröße:&nbsp;{{roomDetails.roomSize.squareMeters}}&nbsp;m²</div>
            <div>Zeitraum:
              {{#unless roomDetails.freeTo}}
                ab {{date roomDetails.freeFrom}}
              {{else}}
                {{date roomDetails.freeFrom}}&nbsp;bis&nbsp;{{date roomDetails.freeTo}}
              {{/unless}}
            </div>
          </div>
    
          <div>
            <div>gewünschtes Alter: {{criteria.minAge}}&nbsp;bis&nbsp;{{criteria.maxAge}}</div>
            <div>gewünschtes Geschlecht: {{criteria.genders}}</div>
          </div>
    
          <div>
            <div>Beschreibung: {{description}}</div>
            <div>Kontakt E-Mail: {{contactEmail}}</div>
            <div>Bewerbungen: {{applications}}</div>
            <form>
              <input type="button" name="apply" value="Bewerben">
              <input type="button" data-index="{{flatshare.id}}" class="DrawRouteButton" id="DrawRouteButton{{flatshare.id}}" name="DrawRouteButton{{flatshare.id}}" value="Route anzeigen">
            </form>
          </div>
        {{/with}}
      </div>
      <div class="searchResultBack">
        <b>{{roomOffer.flatshare.address.street}} {{roomOffer.flatshare.address.streetNumber}}</b>
        <form>
          <input type="hidden" name="id" value="{{id}}">
          <textarea lines="30" cols="100">
          Warum willst du hier einziehen?
          </textarea>
          <br/>
          <input type="button" name="sendApply" value="Ab damit">
          <input type="button" name="saveDraft" value="Entwurf speichern">
          <input type="button" name="turnBack" value="Zurückdrehen">
        </form>
      </div>
    </li>
  {{/each}}
</ol>
