<div class="seek">

<ul>
  <li>
    <h1>Die WG</h1>
    <div class="adr">
      {{#with flatshare.address}}
      <div class="street-address">
        <span class="street">{{street}}</span>&nbsp;<span class="streetnumber">{{streetNumber}}</span>
      </div>
      <div>
        <span class="postal-code">{{zipCode}}</span>&nbsp;<span class="locality">{{city}}</span>
      </div>
      {{/with}}
    </div>
  </li>
  <li>
    <h1>Der Preis</h1>
    <table class="facts">
      <tr>
        <td>Gesamtmiete:</td>
        <td>{{roomDetails.totalRentPerMonthInEuro}} €</td>
      </tr>
      <tr>
        <td>Kaution:</td>
        <td>{{roomDetails.depositInEuro}} €</td>
      </tr>
    </table>
  </li>

  <li>
    <h1>Der Zeitraum</h1>
    {{#unless roomDetails.freeTo}}
      ab {{date roomDetails.freeFrom}}
    {{else}}
      {{date roomDetails.freeFrom}}&nbsp;‒ {{date roomDetails.freeTo}}
    {{/unless}}
  </li>

  <li>
    <h1>Das Zimmer</h1>
    <table class="facts">
      <tr>
        <td>Größe:</td>
        <td>{{roomDetails.roomSize.squareMeters}} m²</td>
      </tr>
    </table>
  </li>

  <li>
    <h1>Die Anforderungen</h1>
    {{#with criteria}}
    <table class="facts">
      <tr>
        <td>Alter:</td>
        <td>{{minAge}}&nbsp;‒ {{maxAge}} Jahre</td>
      </tr>
      <tr>
        <td>Geschlecht:</td>
        <td>{{genders}}</td>
      </tr>
    </table>
    {{/with}}
  </li>
</ul>

<div class="map"></div>

</div>