<ol>
  {{#each searchResults}}
    <!--<div>MatchingScore {{matchingScore.value}} - {{matchingScore.defined}}</div>-->
    {{#with offer}}
    <li>
      <div class="info">
        <em>
        <h2>
          <span title="Gesamtmiete pro Monat">{{roomDetails.totalRentPerMonthInEuro}} €</span> für <span title="Zimmergröße">{{roomDetails.roomSize.squareMeters}} m²</span>
        </h2>
        <!--<div class="adr">
          {{#with flatshare.address}}
          <div class="street-address">
            <span class="street">{{street}}</span>&nbsp;<span class="streetnumber">{{streetNumber}}</span>
          </div>
          {{/with}}
        </div>-->

        <div>
          {{#unless roomDetails.freeTo}}
            ab {{date roomDetails.freeFrom}}
          {{else}}
            {{date roomDetails.freeFrom}}&nbsp;bis&nbsp;{{date roomDetails.freeTo}}
          {{/unless}}
        </div>

        <a href="/offers/{{id}}">Details</a>
        <!--<form>
          <input type="button" name="apply" value="Bewerben...">
          <input type="button" data-index="{{flatshare.id}}" class="DrawRouteButton" id="DrawRouteButton{{flatshare.id}}" name="DrawRouteButton{{flatshare.id}}" value="Route anzeigen">
        </form>-->
        </em>
      </div>

        {{#with flatshare}}
        <div class="map" data-result-latitude={{geoLocation.latitude}} data-result-longitude={{geoLocation.longitude}} data-address="{{address.street}} {{address.streetNumber}}">
        {{/with}}
      </div>
  
    </li>
    {{/with}}
  {{/each}}
</ol>
